/* .header-container {
    color: red;
} */

.h1 {
    color: orange;
}

.h2 {
    color: green;
}

.h3 {
    color: blue;
}

.h4 {
    color: indigo;
}

.h5 {
    color: violet;
}

.h6 {
    color: goldenrod;
}